<!-- This is to make the flash message appear -->
<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
<% end %>

<!-- This is to make the form to send the email appear -->
<%= form_tag(controller: "messages", action: "create", method: "post") do %>
  <fieldset>
    <div class="field">
      <div>Name:</div>
      <%= text_field_tag(:name, "Name") %>
    </div>
    
    <div class="field">
      <div>Email:</div>	
      <%= text_field_tag(:email, "Email")  %>
    </div>
    
    <div class="field">
      <div>Content:</div>	
      <%= text_area_tag(:content, "Message") %>
    </div>
    
  </fieldset>
  <fieldset>
  	
    <div class="field">
      <%= submit_tag("Send") %>
    </div>
    
  </fieldset>
<% end %>
<!-- (controller: "message", action: "create", method: "post") -->
