<!-- This is to make the flash message appear -->
<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
<% end %>

<h3>New Comment</h3>
 
<!-- This is to make the form to make title and body appear -->
<%= form_tag(controller: "comments", action: "create", method: "post") do %>
  <fieldset>
    <div class="field">
      <div>Name:</div>
      <%= text_field_tag(:name, "name") %>
    </div>
    
    <div class="field">
      <div>Body:</div>	
      <%= text_field_tag(:body, "body")  %>
    </div> 
      <%= hidden_field_tag(:post_id, (request.fullpath.last.to_i))   %>    
  </fieldset>
  <fieldset>
  	
    <div class="field">
      <%= submit_tag("Send") %>
    </div>
    
  </fieldset>
<% end %>