<!-- This is to make the flash message appear -->
<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
<% end %>

<h3>New Post</h3>
 
<!-- This is to make the form to make title and body appear -->
<%= form_tag(controller: "posts", action: "create", method: "post") do %>
  <fieldset>
    <div class="field">
      <div>Title:</div>
      <%= text_field_tag(:title, "Title") %>
    </div>
    
    <div class="field">
      <div>Post Type:</div>	
      <%= text_field_tag(:post_type, "Article")  %>
    </div>    
    
    <div class="field" id="text_field_big">
      <div>Body:</div>	
      <%= text_area_tag(:body, "Body")  %>
    </div>    
  </fieldset>
  <fieldset>
  	
    <div class="field">
      <%= submit_tag("Send") %>
    </div>
    
  </fieldset>
<% end %>