<div id="post_content">
	<h3 class="title">
	  <%= @post[:title] %>
	</h3>
	 
	
	<p class="date">
	  Submitted on
	  <%= @post[:create].to_formatted_s(:long_ordinal) %>
	</p>
	 
	
	<p class="body">
	  <%= @post[:body]%>
	</p>
	<div id="comments">
	  <p>Number of Comments: <%= count_comments(request.fullpath) %></p>
	  <%=  render "comments/form"  %>
	
	  <%=  render "comments/comment" %>
	</div>
</div>