<h3 id="main_title">Tax Calculator - Phoenix™</h3>

<header>
	<div class="container">
		<ul>
			<li><%= link_to "Tax Calculator", controller: "home", action: "index"%></li>
			<li><%= link_to "Plan/Posts" , controller: "posts", action: "index" %></li>
			<li><%= link_to "Message Me",  controller: "messages", action: "new" %></li>
			<li><%= link_to "Terms of Condition", controller: "static_pages", action: "terms_and_conditions" %></li>
			<li><%= link_to "About Us", controller: "static_pages", action: "about_us" %> </li>
		</ul>
	</div>
</header>